.cart-container {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 30%;
    height: 85vh;

    background-color: white;
    border-left: solid 10px black;
    border-right: solid 10px black;
}