@import url('./palette.css');

.contact-container {
    padding-top: 5vh;
    row-gap: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contact-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.address-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 128px;
}

p {
    font-size: 200%;
    font-weight: bold;
}