@import url('./palette.css');

.content-container {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 60vh);
    gap: 5%;
}