@import url('./palette.css');

.title-bar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 15vh;

    background-color: black;
}

.title-nav-container {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 400%;
    color: var(--light-green);
}

.nav-link {
    font-weight: bold;
    font-size: 200%;
    color: white;
}

a {
    text-decoration: none;
}