@import url('./palette.css');

.title-bar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--dark-blue);
}

.title-nav-container {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 300%;
}

.nav-link {
    font-weight: bold;
    font-size: 150%;
}